.mainContainer {width: 200px; height: 280px; border-radius: 10px; border:solid gray 2px; padding: 0px; 
    position: absolute;top:50%;left:50%; margin-left: -100px; margin-top: -140px;}
.page_loading > .mainContainer > p {margin-left: 6px; font: italic bold 12px/30px Dotum, sans-serif}