<launch>
        <arg name="map_file" value="$(env AD1_MAP_NAME)"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        </node>

        <include file="$(find ad1_navigation)/launch/amcl.launch"/>

        <node name="test_rviz" pkg="rviz" type="rviz" args="-d $(find ad1_navigation)/rviz/test01.rviz" />
        <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom"
                args="-0.0 -0.0 0.0 0.0 0.0 0.0 /map /odom 20" /-->



</launch>
